Package: foxup-client
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Essential: no
Depends: perl (>= 5.8), wakeonlan (>= 0.41), rsync (>= 3.0)
Maintainer: Hagen Fuchs <code@hfuchs.net>
Description: Simple backup scripts well suited to desktop or mobile systems.
 This is the client side of the ultra light-weight foxup backup
 solution.  It comes with a suitable back-it-al-up config.  You'll have
 to have a foxup-server running somewhere (preferably somewhere remote,
 but localhost will do).
 .
 Think of it as an rsnapshot that's usable by machines that aren't
 always online.

