Package: foxup-client
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Essential: no
Depends: perl (>= 5.8), wakeonlan (>= 0.41), rsync (>= 3.0)
Maintainer: Hagen Fuchs <hagen.fuchs@physik.tu-dresden.de>
Description: Simple backup scripts well suited to desktop or mobile system
 More.

